In [1]:
print("Saylani Class 2") # print is builtin function ,it take arguments to print on console

Saylani Class 2

## Variable

In [12]:
name = "Hassan Ishaq Alvi" # String
print(type(name))

<class 'str'>

In [4]:
print(name)

Hassan Ishaq Alvi

#### id() built in func showing address

In [1]:
id(name)

NameError: name 'name' is not defined

In [3]:
age = 29
print(age)
type(age)

29

int

In [18]:
weight = 40.57777777777777777777
print(weight)
print(type(weight))
id(weight)

40.577777777777776
<class 'float'>

2349805150608

In [11]:
is_present =  True

In [17]:
### multi line as it is print
poem = ''' Humpty Dumpty sate on a wall,
humpti
dumpti'''

print(poem)

 Humpty Dumpty sate on a wall,
humpti
dumpti

In [19]:
2+2

4

In [20]:
2-2

0

3*3

In [21]:
3*3

9

In [22]:
7/3

2.3333333333333335

In [32]:
int(7/3)

2

In [26]:
5//2 # Floor

2

In [31]:
import math
value = 5/2
math.ceil(value)  #ceil  round --off to upper point

3

In [4]:
age += 5
print(age)

34

In [42]:
"Hassan "+"Alvi"

'Hassan Alvi'

In [44]:
print("Hassan ","Alvi") #String concat in print func

Hassan  Alvi